.searchPage {
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 6px;
      cursor: pointer;
      a {
        text-decoration: none;
        img {
          width: 30px;
          height: 30px;
        }
        p {
          font-size: 14px;
          color: rgb(134, 132, 132);
        }
        .active {
          text-decoration: underline;
          color: black;
          font-weight: 600;
        }
      }
    }
    .arrow {
      margin-top: -15px;
      span {
        border: 1px solid #ebebeb;
        border-radius: 50%;
        padding: 2px 5px;
        cursor: pointer;
        svg {
          color: #000000;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  .filterANDsearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .filter,
    .search {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 15px;
    }
    .arrow {
      span {
        border: 1px solid #ebebeb;
        border-radius: 50%;
        padding: 2px 5px;
        cursor: pointer;
        svg {
          color: #000000;
          width: 18px;
          height: 18px;
        }
      }
    }
    .filter {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
      gap: 10px;
      border: 1px solid #ebebeb;
      border-radius: 16px;
      padding: 8px 10px 0px 10px;
      cursor: pointer;
      span {
        svg {
          width: 18px;
          height: 18px;
        }
      }
      p {
        font-size: 12px;
        font-weight: 500;
        color: #000000;
      }
    }
    .search {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
      border: 1px solid #ebebeb;
      border-radius: 40px;
      padding: 8px 10px 0px 10px;
      cursor: pointer;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #717171;
      }
      span {
        background-color: #f86338;
        border-radius: 50%;
        padding: 6px 7px;
        svg {
          width: 20px;
          height: 20px;
          color: #ebebeb;
        }
      }
    }
  }
}

@media(max-width:1182px){
  .searchPage{
    .filterANDsearch{
      .search{
        p{
          font-size: 12px;
        }
        span{
          padding:0 5px ;
          svg{
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}